* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    max-width: 40em;
    margin: 0 auto;
    padding: 5px;
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 1.6em;
    color: #000000;
    background: #FFFFFF;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #68ffa7;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.landing {
    width: 100%;
    height: auto;
    margin: 30% 0;
    text-align: center;
    justify-content: center;
    align-content: center;
    top: 100%;
    left: 0;
}


.landing{
    width: 100%;
    height: auto;
    margin: 30% 0;
    text-align: left;
    justify-content: center;
    align-content: center;
    top: 100%;
    left: 0;
    font-size: 30px;
}
.landing h1 {
    font-size: 50px;
    text-align: center;
    line-height: 3cm;
}
.landing p{
    text-align: left;
    font-size: 18px;
    color: black;
}

.foot{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #000000;
    text-align: left;
}